<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="claro-enterprise-ajusteMasivo-resource-1.0.0">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-test-sources/test-annotations"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/test/resources"/>
        <dependent-module archiveName="claro-enterprise-ajusteMasivo-domain-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-enterprise-ajusteMasivo-domain/claro-enterprise-ajusteMasivo-domain">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-enterprise-ajusteMasivo-model-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-enterprise-ajusteMasivo-model/claro-enterprise-ajusteMasivo-model">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-rest-api-client-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-rest-api-client/claro-rest-api-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-rest-api-common-2.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-rest-api-common/claro-rest-api-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-common-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-common/claro-common">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-enterprise-ajusteMasivo-canonical-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-enterprise-ajusteMasivo-canonical/claro-enterprise-ajusteMasivo-canonical">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="claro-enterprise-ajusteMasivo-integration-1.0.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/claro-enterprise-ajusteMasivo-integration/claro-enterprise-ajusteMasivo-integration">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/claro-enterprise-ajusteMasivo-resource/target/classes"/>
        <property name="context-root" value="claro-enterprise-ajusteMasivo-resource"/>
    </wb-module>
</project-modules>
